[submodule "bloc-backend"]
	path = bloc-backend
	url = https://github.com/coldwireorg/bloc-backend.git
[submodule "bloc-frontend"]
	path = bloc-frontend
	url = https://github.com/coldwireorg/bloc-frontend.git
